*.pt
*.nii
*.nii.gz
*.png
*.csv
brain_data/
brain_reorigin_core/
brain_reorigin_core_RAS/
brain_segment_data/
brain_segment_RAS/
compare/
csvs/
logs/
prev/
reorigin_data/
saved_images/
saved_models/
*.pyc
brain_SNed_data/