/data
/csvs
/evaluation
/logs
/MNI template
/previous
/output_slices
/saved_images
/saved_models
/visualization
/steps
/csv_sorting.py
/del_file.py
/MNI305
/wandb
*.pt
/test_images
/MNI_template
/now_doing